{% extends 'base.html' %}
{% load static %}
{% block title %}ISKON registration{% endblock %}
<style>
    body {
            background-image: url('{% static 'app/images/pxfuel.jpg' %}');
            background-size: cover;
            background-position: center;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
</style>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>

 <div class="login-container my-5">
        <h4>BCEC YATRA 2024 Login</h4>

        <!-- Phone Number -->
        <div class="mb-3">
            <label for="phoneNumber">Enter Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="password">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
 </div>
</body>
</html>

